body{
    background-color: rgb(181, 177, 177);
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 60% 30% 40%;
    gap: 5px;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}
form
{
    border: 4px solid blue;
    margin: auto;
    padding: 3%;
    text-align: center;
}
.header{
    border: 4px solid black ;
    border-radius: 18%;
}
.footer{
    background-color: green;
}
.board{
    display: grid;
    grid-template-columns: 1fr;
}
input.boxes{
    height: 50px;
    width: 50px;
    font-size: 80px;
    text-align: center;
    border: 2px solid blue;
}
