* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #ffffff;
  color: #222;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: #111;
  color: white;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.navbar a:hover {
  color: #00bcd4;
}

/* Hero */
.hero {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  margin: 15px 0;
  font-size: 1.2rem;
}

.btn {
  background: #00bcd4;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
}

/* Sections */
.section {
  padding: 80px 60px;
  text-align: center;
}

.gray {
  background: #f5f5f5;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

/* Cards */
.card, .project-card {
  height: 80 px;
  padding: 25px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


/* Footer */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}
.project-buttons a {
  margin: 20px;
  padding: 15px 16px;
  border-radius: 5px;
  background: #00bcd4;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
